body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "OutrunFuture";
  src: local("OutrunFuture"),
    url("./fonts/outrun_future.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "OutrunFutureBold";
  src: local("OutrunFutureBold"),
    url("./fonts/outrun_future_bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "OutrunFutureBoldItalic";
  src: local("OutrunFutureBoldItalic"),
    url("./fonts/outrun_future_bold_italic.otf") format("opentype");
  font-weight: normal;
}